/* Override styles for template */

#banner {
    background-color: #211D39;
    background-image: url("/images/cincinnati-skyline.svg");
    background-attachment: fixed;
    background-size: cover;
    background-position: 100% 100%;
}

#banner .inner .button {
    font-size: 150%;
}

table td {
    font-weight: 600;
    font-size: 100%;
}

ul {
    text-align: left;
}

.button-push-down {
    padding-top: 2px;
}

.content p {
    font-size: 1.25em;
}

#footer {
    background: none;
    background-color: #211D39;
}

.footer-subheader {
    text-transform: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#one {
    background-image: url(/images/laptop.jpg)
}

#two {
    background-image: url(/images/spindle.jpg)
}

#three {
    background-image: url(/images/hacking.jpg)
}

#four {
    background-image: url(/images/UC.jpg)
}

header p {
    margin-bottom: 0.5em;
}

.horiz-flex {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0.5em;
}

.horiz-flex a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.horiz-flex .exec-logo {
    height: 4em;
    margin-left: 10px;
    margin-right: 10px;
    flex-grow: 1;
    flex-shrink: 1;
}

.horiz-flex .sponsor {
    height: 8em;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.horiz-flex .sponsor-wide {
    height: 6em;
}

.sign-up {
    margin-top: 20px;
}

#large-menu {
    display: none;
}

.faq li {
    margin-bottom: 10px;
}

@media (min-width: 992px) {
    .menu-button {
        display: none !important;
    }
    #menu {
        display: none !important;
    }
    #large-menu {
        display: inline-block;
        margin-left: auto;
        margin-right: 0;
        height: 100%;
        border-radius: 5px;
        padding: 0 5px;
        background-color: rgba(0, 0, 0, 0.5);
    }
    #large-menu .large-menu-container {
        display: flex;
        justify-content: flex-end;
    }
    #large-menu a {
        display: block;
        margin: 0 10px;
        font-size: 110%;
        color: white;
    }
    #large-menu a:hover {
        text-decoration: underline;
        color: #211D39;
    }
}
