/* Override styles for template */

#banner {
    background-color: #d01d1d;
    background-image: url("/images/cincinnati-skyline.svg");
    background-attachment: fixed;
    background-size: cover;
    background-position: 100% 100%;
}

#banner .inner .button {
    font-size: 150%;
}

table td {
    font-weight: 600;
    font-size: 100%;
}

ul {
    text-align: left;
}

.button-push-down {
    padding-top: 2px;
}

.content p {
    font-size: 1.25em;
}

#footer {
    background: none;
    background-color: #aa2527;
}

.footer-subheader {
    text-transform: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#one {
    background-image: url(/images/laptop.jpg)
}

#two {
    background-image: url(/images/spindle.jpg)
}

#three {
    background-image: url(/images/hacking.jpg)
}

#four {
    background-image: url(/images/UC.jpg)
}